{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 49, "knowledge_revision": 105, "git_revision": "", "hash": "89888893a40fc1c60fc338e27687f2fa", "format-version": 4, "code-base-name": "default", "filename": "backend_api_workspace/backend_api/requirements.txt", "revision_history": [{"105": ""}]}